@import '~materialize-css/dist/css/materialize.min.css';

input.inputStyle {
  border-bottom: 1px solid #fff !important;
}

html {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.768);
}

button {
  background-color: #009999;
  color: #fff;
}

button:hover {
  background-color: #006363;
}

.button__wrapper {
  display: flex;
  justify-content: center;
}

.page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}