.words {
  height: 350px;
  width: 260px;
  word-break:break-all;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentList {
  height: 350px;
  width: 260px;
  border: 1px solid #000;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.deleteButton {
  font-size: 12px;
  height: 26px;
  font-weight: bold;
}

.column {
  width: 260px
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemWord {
  text-align: center;
  
}

.itemWordDash {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}