.theme__wrapper {
  padding: 1.5rem 0;
}

.theme__heading {
  text-align: center;
}

.theme__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 11% 0 11%;
}
.theme__item {
  width: 100%;
} 

.theme__links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.theme__link {
  text-align: center;
}